# Yarn Gitignores
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Build Outputs
packages/*/dist/
packages/*/lib/
packages/*/build/

# Test Outputs
coverage/
ecosystem.config.js

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
.eslintcache

# Logs
*-*.log*